.card {
    padding: 12px;
    border-radius: 10px;
    margin: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card:hover {
  /* background-color: #ff6163; */
    background-image: linear-gradient(to right, rgba(0,0,0,0), #ff6163 30%, #c5c4ea, rgba(0,0,0,0));
}

.trending-collections-feed-card--text {
    display: flex;
    flex: 1;
    margin-left: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 4px;
  }

.large-image {
    width: 300px;
    height: 300px;
    object-fit: contain;
    border-radius: 4px;
  }
  .collection-title {
    font-size: 20px;
    font-weight: 600;
  }

  .label {
    font-size: 16px;
    font-weight: 600;
    margin: 8px;
  }

  .trending-collections-feed-card--text--details {
    display: flex;
    flex-direction: row;
  }

  .trending-collections-feed-card--text--detail {
    margin: 20px;
    min-width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .price-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .left-space {
    margin-left: 8px;
  }

  .header-container {
    margin: 20px;
    display: flex;
    flex-direction: row;
  }
  .header-text-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
  }

  h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }

  .action-container {
    border-width: 1px;
    border-color: black;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
  }

  .action-button {
    color: white;
    background-color: #3f67ff;
    border-width: 1px;
    border-color: black;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin: 4px;
  }

  .action-button:hover {
    cursor: pointer;
    opacity: 0.8;
  }